.product-quantity {
  display: flex;

  &__input {
    @include font($fsz: 1.4rem, $c: $colorParagraph);
    @include size($w: 50px, $h: 50px);

    border: $border;
    text-align: center;
  }

  &__controls {
    @include flex($fd: column);
  }

  &__plus,
  &__minus {
    @include flex($jc: center, $ai: center);
    @include size($w: 25px);

    flex: 0 0 50%;
    border: $border;
    cursor: pointer;
  }

  &__icon {
    @include font;
  }
}
