.main {
  &__error {
    margin-top: 20px;
  }
}
.error {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $colorBg;
  box-shadow: $boxShadow;

  &__content {
    max-width: 600px;
    text-align: center;
  }

  &__title {
    font-size: 18vw;
    line-height: 1em;
    position: relative;
    &::after {
      position: absolute;
      content: attr(data-text);
      top: 0;
      left: 0;
      right: 0;
      background: -webkit-repeating-linear-gradient(
        -45deg,
        #71b7e6,
        #69a6ce,
        #b98acc,
        #ee8176,
        #b98acc,
        #69a6ce,
        #9b59b6
      );
      background-size: 400%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: $textShadow;
      animation: animate 10s ease-in-out infinite;
    }
  }

  &__subtitle {
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $colorBorderSecondary;
    font-size: 2em;
    max-width: 600px;
    position: relative;
    &::after {
      position: absolute;
      content: attr(data-text);
      top: 0;
      left: 0;
      right: 0;
      text-shadow: $textShadowHover;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    font-size: 1.8em;
    color: #0d0d0d;
  }

  &__btns {
    margin: 25px 0;
    display: inline-flex;
    a {
      font-size: 1.8em;
      display: inline-block;
      margin: 0 10px;
      text-decoration: none;
      border: 2px solid $blueColor;
      color: $blueColor;
      font-weight: 500;
      padding: 10px 25px;
      border-radius: 25px;
      text-transform: uppercase;
      transition: all 0.3s ease;
      &:hover {
        background: $blueColor;
        color: $colorBg;
      }
    }
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
