@mixin flex($fd: row, $jc: flex-start, $ai: stretch, $g: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin font($fsz: 1rem, $fw: 500, $lh: 1, $c: $colorFontPrimary) {
  font-size: $fsz;
  font-weight: $fw;
  line-height: $lh;
  color: $c;
}

@mixin size($w: auto, $h: auto, $m: 0, $p: 0) {
  width: $w;
  height: $h;
  margin: $m;
  padding: $p;
}

@mixin button {
  @include size($p: 12px 35px);
  @include font($fsz: 1.6rem);

  text-align: center;
  border: 2px solid $colorFontPrimary;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: $colorFontPrimary;
  color: $colorBg;
  transition: $transition;
  cursor: pointer;

  &:hover {
    border: 2px solid $colorFontSecondary;
    background: $colorFontSecondary;
    color: $colorFontPrimary;
  }

  &_disabled {
    border: 2px solid $colorBorderThird;
    background: $colorBorderThird;
    color: $colorFontLight;
    cursor: default;

    &:hover {
      border: 2px solid $colorBorderThird;
      background: $colorBorderThird;
      color: $colorFontLight;
    }
  }

  &_rounded {
    border: 2px solid $colorFontPrimary;
    background: transparent;
    color: $colorFontPrimary;

    &:hover {
      border: 2px solid $colorFontPrimary;
      background: $colorFontPrimary;
      color: $colorFontLight;
    }
  }
}
