$mainColor: #3a3a3a;
$transition: all 0.3s ease-in-out 0s;
$colorBorder: #e2e2e2;
$colorBg: #ffffff;
$colorFontPrimary: #333333;
$colorTitleBefore: #ffd90b;
$colorParagraph: #6f6f6f;
$colorFontSecondary: #ffd90c;
$yellowColor: #efdc7b;
$grayColor: #898989;
$darkGrayColor: #616161;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
