$mainColor: #3a3a3a;
$colorBorder: #e2e2e2;
$colorBorderSecondary: #000000;
$colorBorderThird: #ababab;
$colorBg: #ffffff;
$colorBgSecondary: #f9f9f9;
$colorFontPrimary: #333333;
$colorFontSecondary: #ffd90c;
$colorFontLight: #ffffff;
$colorParagraph: #6f6f6f;
$colorTitleBefore: #ffd90b;
$colorRating: #fe9704;
$yellowColor: #efdc7b;
$grayColor: #898989;
$darkGrayColor: #616161;

$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
$mobileExtraSmall: 374.98px;
$desktop: 1199.98px;

$border: 1px solid $colorBorder;
$borderSecondary: 1px solid $colorBorderSecondary;

$transition: all 0.3s ease-in-out 0s;
