.product-info {
  flex: 1;

  &__title {
    @include font($fontSize: 3rem);
    @include size($margin: 30px 0 0);
  }

  &__price {
    @include flex($alignItems: center, $gap: 10px);
    @include size($margin: 30px 0 0);
  }

  &__actual-price {
    @include font($fontSize: 1.8rem);
  }

  &__old-price-wrapper {
    @include flex($alignItems: center, $gap: 5px);
  }

  &__old-price {
    @include font($fontSize: 1.8rem, $color: $colorParagraph);

    text-decoration: line-through;
  }

  &__discount {
    @include font($fontSize: 1.4rem, $color: $colorFontLight);
    @include size($padding: 5px 10px);

    background: $colorFontPrimary;
  }

  &__availability-wrapper {
    @include flex($alignItems: center, $gap: 15px);
    @include size($margin: 30px 0 0);
  }

  &__availability-title {
    @include font($fontSize: 1.6rem);
  }

  &__availability {
    @include flex($alignItems: center, $gap: 5px);
    @include font($fontSize: 1.4rem);

    &[data-availability='in-stock'] {
      color: #198754;
    }

    &[data-availability='out-of-stock'] {
      color: #871919;
    }
  }

  &__availability-icon {
    @include font($fontSize: 1.6rem, $color: #198754);
  }

  &__brand-title {
    @include font($fontSize: 1.6rem);
    @include size($margin: 30px 0 0);
  }

  &__brand {
    text-transform: capitalize;
    @include font($fontSize: 1.4rem, $fontWeight: 300);
    @include size($margin: 0 0 0 10px);
  }

  &__buttons-wrapper {
    @include flex($gap: 30px);
    @include size($margin: 30px 0 0);

    @media screen and (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }

  &__quantity-wrapper {
    @include flex($alignItems: center, $gap: 15px);
    @include size($margin: 30px 0 0);
  }

  &__quantity-title {
    @include font($fontSize: 1.6rem);
  }

  &__cart-button,
  &__buy-button {
    @include button;
    @include size($padding: 15px 35px);

    min-width: 200px;
  }

  &__id-title {
    @include font($fontSize: 1.6rem);
    @include size($margin: 30px 0 0);
  }

  &__id {
    @include font($fontSize: 1.4rem, $fontWeight: 300);
    @include size($margin: 0 0 0 10px);
  }

  &__category-title {
    @include font($fontSize: 1.6rem);
    @include size($margin: 30px 0 0);
  }

  &__category {
    text-transform: capitalize;
    @include font($fontSize: 1.4rem, $fontWeight: 300);
    @include size($margin: 0 0 0 10px);
  }

  &__description-wrapper {
    @include flex($flexDirection: column, $gap: 15px);
    @include size($margin: 30px 0 0);
  }

  &__description-title {
    @include font($fontSize: 1.6rem);
  }

  &__description {
    @include font($fontSize: 1.4rem, $fontWeight: 300, $lineHeight: 1.5, $color: $colorParagraph);
  }
}
