.product-info {
  flex: 1;

  &__title {
    margin: 30px 0 0;
    font-size: 3rem;
    font-weight: 500;
    color: $colorFontPrimary;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0 0;
  }

  &__actual-price {
    font-size: 1.8rem;
    font-weight: 500;
    color: $colorFontPrimary;
  }

  &__old-price-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__old-price {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: line-through;
    color: #6f6f6f;
  }

  &__discount {
    padding: 5px 10px;
    font-size: 1.4rem;
    background: #333333;
    color: #ffffff;
  }

  &__availability-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px 0 0;
  }

  &__availability-title {
    font-size: 1.6rem;
    font-weight: 500;
    color: $colorFontPrimary;
  }

  &__availability {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;

    &[data-availability="in-stock"] {
      color: #198754;
    }

    &[data-availability="out-of-stock"] {
      color: #871919;
    }
  }

  &__availability-icon {
    font-size: 1.6rem;
  }

  &__brand-title {
    margin: 30px 0 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: $colorFontPrimary;
  }

  &__brand {
    margin: 0 0 0 10px;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__buttons-wrapper {
    display: flex;
    gap: 30px;
    margin: 30px 0 0;
  }

  &__cart-button,
  &__buy-button {
    @include button;

    min-width: 200px;
    padding: 15px 35px;
  }
}