.breadcrumbs {
  padding: 15px 0;
  border-bottom: $border;

  &__list {
    @include flex($alignItems: center);
  }

  &__item {
    &:after {
      content: '/';
      padding: 0 5px;
      font-size: 1.2rem;
      color: $colorParagraph;
    }

    &:last-of-type {
      cursor: default;

      &:after {
        content: none;
      }

      .breadcrumbs__link:hover {
        color: $colorParagraph;
      }
    }
  }

  &__link {
    @include font($fontSize: 1.4rem, $color: $colorParagraph);

    &:visited {
      color: $colorParagraph;
    }

    &:hover {
      color: $colorFontPrimary;
    }
  }
}
